---
import Navbar from './Navbar.astro';
import Footer from './Footer.astro';
import Left from './Left.astro';
import Right from './Right.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <Navbar />
    <div class="layout">
      <Left />
      <main>
        <h1>About</h1>
        <p>This is the about page.</p>
      </main>
      <Right />
    </div>
    <Footer />
  </body>
</html>
