body {
  margin:0;
  font-family: Arial;
  display:flex;
  flex-direction: column;
  height:100vh;
}

nav {
  background:#222;
  color:white;
  padding:15px;
  text-align:center;
}

nav a {
  margin: 0 10px;
  color:white;
  text-decoration:none;
}

nav a:hover {
  text-decoration:underline;
}

.layout {
  display:grid;
  grid-template-columns:200px 1fr 200px;
  flex:1 1 auto;
  min-height:0;
  overflow:hidden;
}

aside {
  background:#f1f1f1;
  padding:20px;
  overflow:auto;
}

main {
  padding:30px;
  overflow:auto;
}

footer {
  background:#222;
  color:white;
  text-align:center;
  padding:20px;
  flex:0 0 auto;
}
