body {
  margin:0;
  font-family: Arial;
  display:flex;
  flex-direction: column;
  height:100vh;
}

nav {
  background:#222;
  color:white;
  padding:15px;
  text-align:center;
  flex:0 0 auto;
}

nav button {
  margin: 0 10px;
  padding:8px 12px;
  cursor:pointer;
  background:#444;
  color:white;
  border:none;
}

nav button:hover {
  background:#666;
}

.layout {
  display:grid;
  grid-template-columns:200px 1fr 200px;
  flex:1 1 auto;
  overflow:hidden;
  min-height:0;
}

aside {
  background:#f1f1f1;
  padding:20px;
  overflow:auto;
}

main {
  padding:30px;
  overflow:auto;
}

footer {
  background:#222;
  color:white;
  text-align:center;
  padding:20px;
  flex:0 0 auto;
}