body{
  margin:0;
  font-family: Arial;
}

nav{
  background:#222;
  padding:15px;
}

nav button{
  margin-right:10px;
  padding:8px 12px;
  cursor:pointer;
}

.layout{
  display:grid;
  grid-template-columns: 200px 1fr 200px;
  min-height:80vh;
}

aside{
  background:#f1f1f1;
  padding:20px;
}

main{
  padding:30px;
}

footer{
  background:#222;
  color:white;
  text-align:center;
  padding:20px;
}
